*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #9DB2BF;
}

.main-content{
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.left-section{
  grid-column: span 2;
  height: 100%;
  background-color: #27374D;
}
.right-section{
  grid-column: span 5;
  background-color: #F0F0F0;
  height: 100%;
}


.left-content{
  padding: 2rem 3rem;
}
.profile{
  width: 100%;
  border-bottom: 1px solid #27374D;
}

.image{
  width: 100%;
  text-align: center;
}
.profile img{
  width: 100%;
  border-radius: 50%;
  border: 8px solid #27374D;
  
}

.name{
  font-size: 2rem;
  color: #F0F0F0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.2rem 0;
}

.career{
  font-size: 1.2rem;
  color: #9DB2BF;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.main-title{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F0F0F0;
  padding-top: 3rem;
}

.contact-info ul{
  padding-top: 2rem;
}

.contact-info ul li{
  padding: .4rem 0;
  display: flex;
  align-items: center;
  color: #9DB2BF;
}

.contact-info ul li a{
  padding: .4rem 0;
  display: flex;
  align-items: center;
  color: #9DB2BF;
  text-decoration: none;
}

.contact-info ul li i{
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #F0F0F0;
}

.skills-section ol{
  padding-top: 2rem;
}
.skills-section ol li{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .4rem 0;
}

.progress-bar{
  width: 100%;
  height: .4rem;
  background-color: #354862;
  position: relative;
  border-radius: 12px;
}
.progress{
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #F0F0F0;
  border-radius: 12px;
}
.js-progress{
  width: 70%;
}
.ps-progress{
  width: 90%;
}
.j-progress{
  width: 85%;
}
.c-progress{
  width: 40%;
}
.n-progress{
  width: 63%;
}
.w-progress{
  width: 78%;
}


.skill-title{
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 1rem;
}

.sub-title{
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #F0F0F0;
}

.sub-para{
  color: #ccc;
  padding: .4rem 0;
}

.references-section li{
  color: #ccc;
  padding: .2rem 0;
}
.references-section li i{
  padding-right: .5rem;
  font-size: 1.2rem;
  color: #526D82;
}

.right-main-content{
  padding: 2rem 3rem;
}


.right-title{
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #27374D;
  margin-bottom: 1.2rem;
  position: relative;
}

.right-title::after{
  content: "";
  position: absolute;
  width: 60%;
  height: .2rem;
  background-color: #ccc;
  border-radius: 12px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.para{
  line-height: 1.6rem;
  color: #718096;
  font-size: 1.1rem;
}

.sect{
  padding-bottom: 2rem;
}

.timeline{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tl-title{
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #526D82;
  text-transform: uppercase;
}
.tl-title-2{
  letter-spacing: 1px;
  font-size: 1.3rem;
  color: #526D82;
  text-transform: uppercase;
}

.tl-content{
  border-left: 1px solid #ccc;
  padding-left: 2rem;
  position: relative;
  padding-bottom: 2rem;
}

.tl-title-2::before{
  content: "";
  position: absolute;
  width: .7rem;
  height: .7rem;
  background-color: #526D82;
  border-radius: 50%;
  transform: translateX(-50%);
  left: 0;
}

/*Media Querries*/
@media screen and (max-width:823px){
  .right-title::after{
      width: 40%;
  }
}
@media screen and (max-width:681px){
  .right-title::after{
      width: 30%;
  }
}
@media screen and (max-width:780px){
  .timeline{
      grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width:780px){
  .left-section{
      grid-column: span 3;
  }
  .right-section{
      grid-column: span 4;
  }
}
@media screen and (max-width:1200px){
  .main-content{
      grid-template-columns: repeat(1, 1fr);
  }
  .profile img{
      width: 40%;
  }
}
@media screen and (max-width:700px){
  .profile img{
      width: 60%;
  }
}
@media screen and (max-width:390px){
  .name{
      font-size: 1.5rem;
  }
}